html {
  margin-top: 0;
  font-size: 15px;
}
header {
  text-align: left;
  background-image: url('https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif');
  background-size: cover;
  display: grid;
}
.websites-list {
  padding-left: 0;
}
#websites {
  list-style-type: none;
  border-spacing: 20px;
  width: 100%;
}
#websites td li{
  margin: 0 20px 10px 20px;
}
.website {
  width: 300px;
  max-width: 100%;
  min-width: 90px;
  height: auto;
}
.navbar {
  margin-bottom: 0;;
  font-family: "Andale Mono", AndaleMono, monospace;
}
.form-control {
  background-color: linear-gradient(to right, #050505, #4f4f4f);
}
.btn {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
}
h1 {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Andale Mono", AndaleMono, monospace;
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 60px;
}
h3 {
  padding-left: 50px;
}
p, ul {
  text-align: justify;
  margin: 20px 150px 0 150px;
}
.FAQs p {
  margin-top: 5px;
  margin-bottom: 30px;
}
h2 {
  font-size: 20px;
  padding-left: 60px;
  margin-top: 0;
}

body {
  background-image: linear-gradient(to bottom right, #bdb9ff, #fff);
  font-family: 'Andale Mono', AndaleMono, monospace;
  font-size: 18px;
}
blockquote {
  margin: 0 auto;
  padding: 50px 200px 50px 200px;
  border: 0;
}
blockquote p, footer {
  text-align: center;
}
a {
  text-decoration: none;
}
.first_img {
  margin: 0 20px 60px 80px;
  float: left;
  width: 20%;
  max-width: 100%;
  height: auto;
}
.second_img {
  margin: 0 80px 60px 20px;
  float: right;
  width: 20%;
  max-width: 100%;
  height: auto;
}
.paragraph_one {
  float: right;
  margin
}
.paragraph_one p {
  width: 70%;
  margin-top: 40px;
}
.paragraph_two {
  float: left;
}
.paragraph_two p {
  width: 70%;
  margin-top: 50px;
}
#pineapple {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.btn-info{
  background-color: rgb(107, 195, 255);
  color: #fff;
}
#famous{
  padding-right: 160px;
}
#women {
  padding-left: 150px;
}
ul {
  margin-bottom: 0;
}
#additional {
  margin-top: 0;
  padding-right: 300px;
  float: right;
}
.end-block {
  margin-top: 50px;
  margin-bottom: 0;
}
.id {
  margin-top: 0;
  margin-bottom: 0;
}
.email-input {
  float: right;
  margin: 0 60px 40px 0;
}
#mypopup {
  padding: 8px 5px 8px 5px;
  float: right;
  background: rgb(147, 188, 255);
  border: 1px solid black;
  border-radius: 50% 20% / 10% 40%;
}
.text-center {
  line-height: 1.4;
  font-family:"Lucida Grande", "Tahoma", "Verdana", "Arial";
}
#img {
  text-align: center;
}
#img img {
  width:40%;
  height: auto;
}
#top {
  margin: 5px 150px 30px 150px;
  font-family:"Lucida Grande", "Tahoma", "Verdana", "Arial";
}


.back {
  text-align: center;
  background-size: cover;
   }

.text-center {
  line-height: 1.4;
  font-family:"Lucida Grande", "Tahoma", "Verdana", "Arial";
  padding-top: 50px 60px;

}

h2{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  padding: 10px 0px 0px 0px;
}

#img{
  text-align: center;
  margin:auto;
  width:450px;
  height: 40px;
  padding-top: 40px;
}

#top {
  text-align: center;
  padding: 270px 150px 75px 150px;
  font-family:"Lucida Grande", "Tahoma", "Verdana", "Arial";
  font-size: 19px;
}
h3{
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}
#imgone {
  max-width: 100%;
   height: auto;
 padding: 50px 150px 35px 150px;
}

.social {
  padding: 60px 40px 40px 40px;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  text-align: center;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


@media (max-width: 1000px) {
  blockquote {
    padding: 10px 50px 10px 50px;
  }
  blockquote p {
    margin: 0 50px 0 50px;
    padding: 10px 50px 10px 50px;
  }
  #additional {
    margin-right: auto;
  }
  #famous {
    padding-right: 0;
  }
  p {
    margin-left: 50px;
    margin-right: 50px;
  }
  .websites-list {
    margin: 20px 80px 0 80px;
  }
  #top {
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
  }
@media (max-width: 600px) {
  p {
    margin: 0 20px 0 20px;
  }
  h1 {
    font-size: 27px;
  }
  .navbar-brand {
    font-size: 16px;
  }
  blockquote {
    padding: 5px 5px 8px 5px;
  }
  blockquote p {
    margin: 0 20px 0 20px;
    padding: 5px 5px 8px 5px;
    font-size: 14px;
  }
  #pineapple {
    display: none;
  }
  #top {
    margin: 10px 20px 0 20px;
  }
  #top h3 {
    text-align: left;
  }
  .websites-list {
    margin: 10px 5px 0 10px;
  }
}
